.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
yarn-error.log 
.pnp.js

/packages/*/node_modules
/packages/*/LICENSE
/packages/*/dist
/packages/*/esm
/packages/*/yarn-error.log